.profile-modal{
    background-color: rgb(255, 255,255, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    font-size: 3rem;
    font-style: bold;
    cursor: pointer;

}

.modal-close:hover{
    color:grey;
    cursor: pointer;
}